<html>
  <%- include('partials/head.ejs') %>
  <body>
    <div class="box-login">
      <h2 style="text-align: center">Create your account</h2>
      <p><em>to continue to MyTodoApp! </em></p>
      <form class="form-login" id="signup" action="/user_signup" method="post">
        <div class="item-login">
          <label for="email">Email</label>
          <input class="input-login" type="text" name="email" required />
        </div>
        <div class="item-login">
          <label for="password">Password</label>
          <input class="input-login" type="password" name="password" required />
        </div>
      </form>
      <button class="btn-login" form="signup" type="submit">Next</button>
    </div>
  </body>
</html>
